CI_ENVIRONMENT = production

app.baseURL = 'https://seudominio.com.br/'

database.default.hostname = localhost
database.default.database = lunna_gestor
database.default.username = usuario_do_banco
database.default.password = senha_forte_do_banco
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

encryption.key = gere_uma_chave_segura_antes_de_publicar
